.leftcolumn {
    float: left;
    width: 20%;
}

.rightcolumn {
    float: left;
    width: 80%;
    background-color: white;
}

/*rwd 600px*/
@media screen and (max-width: 600px) {
    .content h1 {
        font-size: 28px;
    }

}

/*rwd 500px*/
@media screen and (max-width: 500px) {
    .img {
        float: none;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .menu {
        font-size: 10px;
    }

    .name {
        font-size: 16px;
    }
}

/*rwd 350px*/
@media screen and (max-width: 350px) {

    .content {
        font-size: 80%;
    }

    .content h1 {
        font-size: 25px;
    }

    .img {
        height: 200px;
        object-fit: cover;
    }

    .menu {
        font-size: 6px;
    }

    .name {
        font-size: 12px;
    }

    .title p {
        font-size: 70%;
    }

    td img {
        width: 70px;
    }
}

.row::after {
    content: "";
    display: table;
    clear: both;
}